#lives-list ul {
    float: left;
    padding: 0px;
}
#lives-list li {
    display: inline;
}

#lives-list {
    position: absolute;
    top: 20px;
    right: 65px;

    background-color: rgba(255, 255, 255, 0.5);
    
    border-radius: 10px;
    padding: 10px 10px 0px 10px;
}