#start-btn {
    width: 100%;
    height: 100%;
    font-size: xx-large;
    text-align: center;
    pointer-events: auto;
    background-color: white;
    
}

#main-div {
    display: inline-block;
    width:30%;
    height: auto;

    border-radius: 10px;
}

#title {
    font-size: 100px;
}
